.App {
  background-color: #282c34;
  text-align: center;
}

.App-logo {
  height: 100vmin;
}

.App-image {
  height: 70vmin;
}

.App .maps {
  border-radius: 40px;
}

.App iframe {
  border-radius: 20px;
  width:95%;
  height:600; 
  
}


/* video::-webkit-media-controls {
  display: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

@media (min-width: 480px) {
  .App iframe {
    width:480;
    height:200; 
  }
}

@media (min-width: 768px) {
  .App iframe {
    width:480;
    height:200; 
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



